[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
watson-developer-cloud = "*"
anvil-uplink = "*"
google-cloud = "*"
google-cloud-vision = "*"

[dev-packages]

[requires]
python_version = "3.6"
